body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#downloadBtn {
  font-family: 'Courier New', Courier, monospace;
  margin: 0.5em;
  padding: 0.25em 0.5em;
  font-size: 1.5em;
  font-weight: 600;
}

#progressBar {
  margin: 1em;
  border: solid #c6c6c6;
  min-height: 1em;
  
  --progess: 0%;
  background: linear-gradient(90deg, #63d606 var(--progess), transparent var(--progess));
}

.fail {
  color: red;
  font-weight: 600;
}

.succ {
  color: #63d606;
  font-weight: 600;
}

b {
  font-size: 1.5em;
}