body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#downloadBtn {
  font-family: 'Courier New', Courier, monospace;
  margin: 0.5em;
  padding: 0.25em 0.5em;
  font-size: 1.5em;
  font-weight: 600;
}

.fail {
  color: red;
  font-weight: 600;
}

.succ {
  color: limegreen;
  font-weight: 600;
}

b {
  font-size: 1.5em;
}